html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.container {
  width: 408px;
  height: 362px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.superior {
  width: 100%;
  height: 78px;
  background-color: #fc0204;
  border: 4px solid #040204;
}
.inferior {
  width: 366px;
  height: 284px;
  background-color: #7c7a96;
  border: 4px solid #040204;
  margin: 0 auto;
  position: relative;
}
.caja {
  background-color: #1514f6;
  border: 4px solid #040204;
  width: 80px;
  height: 80px;
  position: absolute;
}
.cajap {
  top: 60px;
  left: 20px;
}
.cajas {
  top: 128px;
  left: 264px;
}
.cajaultima {
  width: 114px;
  height: 109px;
  background-color: #78142f;
  border: 4px solid #040204;
  position: relative;
  margin: 0 auto;
  top: 170px;
  text-align: center;
  line-height: 134px;
}
.cajaultima span {
  font-weight: 700;
  font-size: 60px;
}
